app = "bookcards"
primary_region = "fra"

[build]

[deploy]
  release_command = "alembic upgrade head"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[checks]
  [checks.health]
    grace_period = "30s"
    interval = "15s"
    method = "GET"
    path = "/"
    port = 8000
    timeout = "5s"
    type = "http"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
