<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title or "BookCards" }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <div>
        <a href="/books">BookCards</a>
      </div>
      <div>
        <span>Wyloguj</span>
      </div>
    </header>

    <main>
      <div>
        <aside>
          {% include "partials/_book_list.html" %}
        </aside>

        <section>
          {% block content %}{% endblock %}
        </section>
      </div>
    </main>
  </body>
</html>
